html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.srOnly { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* Global Styles */

.wrapper {
  max-width: 1280px;
  width: 85%;
  margin: 0 auto;
}

body {
  font-size: 62.5%;
}

/* .darkMode {
  background-color: white;
  color: black;
} */

.journey {
  position: relative;
  width: 250px;
  margin: 0 calc(50% - 65px);
}

.journey::before {
  content: '';  
  display: block;
  width: 80px;
  height: 2px;
  background: white;
  position: absolute;
  left: -20px;
  top: 50%;  
}

/* Header Styles */

.skipLink {
    position: absolute;
    left: -1000px;
    top: 5px;
    z-index: 999;
    background: white;
    color: black;
}

.skipLink:focus {
    left: 0;
}

header {
  background-color: black;
  height: 100vh;
}

header p {
  margin-top: 0;
  color: white;
  font-family: 'Playfair Display', serif;
  font-size: 1.6rem;
  font-weight: bold;
  padding-top: 40px;
}

.headerSocial {
  display: flex;
  margin-top: 0;
}

.headerSocial a {
  font-size: 1rem;
}

.logoAndNavContainer {
  display: flex;
  justify-content: space-between;
}

header a {
  color: grey;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

header li a:hover,
header li a:focus {
  padding-bottom: 5px;
  border-bottom: 3px solid rebeccapurple;
}

header nav li {
  display: inline;
  padding: 25px;
}

header ul {
  padding-top: 40px;
}

.headerTextContainer {
  /* padding-top: 150px; */
  padding-bottom: 100px;
}

header h2:nth-of-type(1) {
  color: rebeccapurple;
  font-family: 'Montserrat', sans-serif;
  padding-top: 80px;
}

h1 {
  color: white;
  font-family: 'Playfair Display', serif;
  padding: 5px 0;
  font-size: 3rem;
}

header h2:nth-of-type(2) {
  color: grey;
  font-family: 'Montserrat', sans-serif;
}

.resumeDownload {
  border: 2px solid rebeccapurple;
  border-radius: 25px;
  text-decoration: none;
  background-color: transparent;
  color: rebeccapurple;
  padding: 8px 30px;
  font-size: 0.7rem;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
}

.resumeDownload:hover,
.resumeDownload:focus {
  color: white;
}

.fa-angle-down {
  color: white;
  font-size: 2.8rem;
  margin-top: 50px;
}

.fa-chevron-down:hover,
.fa-chevron-down:focus {
  color: rebeccapurple;
}

.scrollDown {
  text-align: center;
}

/* Section 1 styles: whoAmI */

.whoAmI {
  background-color: rgb(24, 24, 24);
  height: 100%;
  padding-top: 80px;
}

.whoAmI h3 {
  margin-top: 0;
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 1rem;
}

.whoAmI span {
  color: rebeccapurple;
}

.whoAmI h2 {
  color: rebeccapurple;
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-size: 2.5rem;
  padding-bottom: 50px;
}

.flexContainer1 {
  display: flex;
  justify-content: center;
}

.myPhoto,
.myText {
  width: 50%;
}

.myText {
  padding-left: 20px;
}

.myPhoto img {
  box-shadow: -20px -20px rebeccapurple;
  width: 100%;
  height: auto;
}

.whoAmI p:first-child {
  color: white;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 40px;
  font-size: 1.2rem;
  font-weight: bold;
}

.whoAmI p {
  color: grey;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

.whoAmI p:nth-of-type(3) {
  padding-bottom: 40px;  
}

.whoAmI a {
  border: 2px solid rebeccapurple;
  text-decoration: none;
  border-radius: 25px;
  background-color: transparent;
  color: rebeccapurple;
  padding: 8px 30px;
  font-size: 0.7rem;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
}

.whoAmI a:hover,
.whoAmI a:focus {
  color: white;
}

.skillsList li {
  color: white;
  list-style: none;
  display: inline;
  padding: 10px;
}

.skillsList {
  text-align: center;
  padding: 50px 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
}

.skillsList li:hover,
.skillsList li:focus {
  color: rebeccapurple;
  /* cursor: pointer; */
}

hr {
  margin-bottom: 50px;
}

/* Section 4 styles: portfolio */

.portfolio {
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 50px;
}

.portfolioHeading {
  margin-top: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

.portfolioHeading span {
  color: rebeccapurple;
}

.portfolio h2 {
  color: rebeccapurple;
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-size: 2.5rem;
  padding-bottom: 30px;
}

.portfolio p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

.portfolioPieces {
  display: flex;
  justify-content: space-between;
}

.portfolioPieces i {
  font-size: 5rem;
  color: grey;
  margin: 50px 0;
}

/* Portfolio Pages Styling */

.portfolioShowcase {
  display: flex;
  justify-content: center;
  padding-top: 80px;
}

.portfolioImage {
  /* box-shadow: -20px -20px rebeccapurple; */
  width: 40%;
}

.portfolioImage img {
  width: 100%;
  object-fit: contain;
  height: 400px;
}

.portfolioInfo {
  width: 50%;
  padding-left: 50px;
  text-align: center;
}

.portfolioInfo a {
  border: 2px solid rebeccapurple;
  text-decoration: none;
  border-radius: 25px;
  background-color: transparent;
  color: rebeccapurple;
  padding: 8px 30px;
  font-size: 0.7rem;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  margin: 0 10px;
}

.portfolioInfo a:hover,
.portfolioInfo a:focus {
  color: white;
}

.portfolioInfo h2 {
  margin: 0;
  font-size: 2rem;
  font-family: 'Playfair Display', serif;
}

.portfolioInfo p {
  /* margin-top: 0; */
  font-size: 1rem;
  padding-bottom: 25px;
  color: grey;
}

/* Section 5 styles: Footer */

footer {
  background-color: rgb(24, 24, 24);
  color: white;
}

footer h2 {
  margin-top: 0;
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
  padding: 50px 0 30px 0;
  color: rebeccapurple;
}

.footerName {
  margin-top: 0;
  font-family: 'Playfair Display', serif;
  font-size: 1.6rem;
  font-weight: bold;
}

.namePlusInfo p:nth-of-type(2) {
  color: grey;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.6rem;
}

.contactSection {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 30px;
}

.namePlusInfo {
  width: 30%;
}

.myAddress {
  width: 30%;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  color: grey;
}

.socialLinks a {
  width: 30%;
  text-decoration: none;
}


.socialLinks i {
  display: block;
  color: rebeccapurple;
  padding-top: 15px;
  font-size: 1.2rem;
}

.socialLinks i:hover,
.socialLinks i:focus {
  color: white;
}

.copyright {
  margin-bottom: 0;
  text-align: center;
  padding-bottom: 25px;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

/* Responsive */

/* @media (max-width: 768px) {
    i.fa-bars{
        visibility: visible;
        font-size: 3rem;
        transform: scale(1.5,1);
        color: white;
    }

    input:checked + nav {
        display: block;
        z-index: 99999;   
    }


    .check {
        visibility: hidden;
    }

    header nav {
        position: absolute;
        top: 60px;
        right: 0;
        padding: 20px;
        display: none;
    }
} */