html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.srOnly { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* Global Styles */

.wrapper {
  max-width: 1280px;
  width: 85%;
  margin: 0 auto;
}

body {
  font-size: 62.5%;
  line-height: 1.5rem;
  letter-spacing: 1.5px;
}

:root {
  --bg-colour: black;
  --secondary-bg-colour: rgb(24, 24, 24);
  --font-colour: white;
  --secondary-font-colour: lightgrey;
  --header-font-colour: rebeccapurple;
}

.lightMode {
  --bg-colour: white;
  --secondary-bg-colour: rgb(238, 233, 233);
  --font-colour: black;
  --secondary-font-colour: rgb(45, 43, 43);
  --header-font-colour: rebeccapurple;
}

.journey {
  position: relative;
  width: 250px;
  margin: 0 calc(50% - 65px);
}

.journey::before {
  content: '';  
  display: block;
  width: 80px;
  height: 2px;
  background: var(--font-colour);
  position: absolute;
  left: -20px;
  top: 50%;  
}

.portfolio .journey::before {
  left: -38px;
}

/* Header Styles */

.skipLink {
    position: absolute;
    left: -1000px;
    top: 5px;
    z-index: 999;
    background: var(--font-colour);
    color: var(--bg-colour);
}

.skipLink:focus {
    left: 0;
}

header {
  background-color: var(--bg-colour);
  min-height: 100vh;
}

header p {
  margin-top: 0;
  color: var(--font-colour);
  font-family: 'Playfair Display', serif;
  font-size: 1.6rem;
  font-weight: bold;
  padding-top: 40px;
  padding-bottom: 80px;
}

.headerSocial {
  display: flex;
  margin-top: 0;
}

.headerSocial a {
  font-size: 1rem;
}

.hidden {
  display: none;
}

.highlight {
  color: var(--header-font-colour);
}

.fa-bars {
  position: absolute;
  color: var(--font-colour);
  font-size: 2rem;
  right: 0;
  top: 0;
  padding: 25px;
  max-width: 100px;
  max-height: 100px;
  visibility: hidden;
}

.logoAndNavContainer {
  display: flex;
  justify-content: space-between;
}

header a {
  color: var(--secondary-font-colour);
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
  font-weight: bold;
  letter-spacing: 0.1rem;  
  
}

header li a:hover,
header li a:focus {
  padding-bottom: 5px;
  color: var(--header-font-colour);
  /* border-bottom: 3px solid var(--header-font-colour); */
}

header nav li {
  display: inline;
  padding: 25px;
}

header ul {
  padding-top: 40px;
}

/* .headerNav {
  background-color: var(--secondary-bg-colour);
  position: fixed;
  z-index: 10;
  right: 50px;
} */

.navItem {
  cursor: pointer;
  color: var(--secondary-font-colour);
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

.navItem:hover,
.navItem:focus {
  color: var(--header-font-colour);
}



.headerTextContainer {
  padding-bottom: 100px;
}

header h2:nth-of-type(1) {
  color: var(--header-font-colour);
  font-family: 'Montserrat', sans-serif;
}

h1 {
  color: var(--font-colour);
  font-family: 'Playfair Display', serif;
  padding: 5px 0;
  font-size: 3rem;
}

header h2:nth-of-type(2) {
  color: var(--secondary-font-colour);
  font-family: 'Montserrat', sans-serif;
}

.resumeDownload {
  border: 2px solid var(--header-font-colour);
  border-radius: 25px;
  text-decoration: none;
  background-color: transparent;
  color: var(--header-font-colour);
  padding: 8px 30px;
  font-size: 0.7rem;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
}

.resumeDownload:hover,
.resumeDownload:focus {
  color: var(--font-colour);
}

.fa-angle-down {
  color: var(--font-colour);
  font-size: 2.8rem;
  margin-top: 150px;
}

.fa-angle-down:hover,
.fa-angle-down:focus {
  color: var(--header-font-colour);
}

.scrollDown {
  text-align: center;
}

/* Section 1 styles: whoAmI */

.whoAmI {
  background-color: var(--secondary-bg-colour);
  height: 100%;
  padding-top: 80px;
}

.whoAmI h3 {
  margin-top: 0;
  color: var(--font-colour);
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 1rem;
}

.whoAmI span {
  color: var(--header-font-colour);
}

.whoAmI h2 {
  color: var(--header-font-colour);
  font-family: 'Playfair Display', serif;
  text-align: center;
  line-height: 2.3rem;
  font-size: 2.5rem;
  padding-bottom: 50px;
}

.flexContainer1 {
  display: flex;
  justify-content: center;
}

.myPhoto,
.myText {
  width: 50%;
}

.myText {
  padding-left: 20px;
}

.myPhoto img {
  width: 100%;
  height: auto;
  max-width: 450px;
  box-shadow: -10px -10px var(--header-font-colour);
}

/* .myPhoto {
  padding: 10px;
  position: relative;
}

.myPhoto * {
  position: relative;
}

.myPhoto::before {
  content: '';
  background-color: transparent;
  border: 3px solid rebeccapurple;
  display: block;
  position: absolute;
  top: -20px;
  left: -20px;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
} */

.whoAmI p:first-child {
  color: var(--font-colour);
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 40px;
  font-size: 1.2rem;
  font-weight: bold;
}

.whoAmI p {
  color: var(--secondary-font-colour);
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

.whoAmI p:nth-of-type(3) {
  padding-bottom: 40px;  
}

.whoAmI a {
  border: 2px solid rebeccapurple;
  text-decoration: none;
  border-radius: 25px;
  background-color: transparent;
  color: var(--header-font-colour);
  padding: 8px 30px;
  font-size: 0.7rem;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
}

.whoAmI a:hover,
.whoAmI a:focus {
  color: var(--font-colour);
}

.skillsList li {
  color: var(--font-colour);
  list-style: none;
  display: inline;
  padding: 10px;
  line-height: 4rem;
}

.skillsList {
  text-align: center;
  padding: 50px 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
}

.skillsList li:hover,
.skillsList li:focus {
  color: var(--header-font-colour);
}

hr {
  margin-bottom: 50px;
}

/* Section 4 styles: portfolio */

.portfolio {
  background-color: var(--bg-colour);
  color: var(--font-colour);
  text-align: center;
  padding-top: 50px;
}

.portfolioHeading {
  margin-top: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

.portfolioHeading span {
  color: var(--header-font-colour);
}

.portfolio h2 {
  color: var(--header-font-colour);
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-size: 2.5rem;
  padding-bottom: 30px;
}

.portfolio p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

.portfolioPieces {
  display: flex;
  justify-content: space-between;
}

.portfolioPieces i {
  font-size: 5rem;
  color: var(--secondary-font-colour);
  margin: 50px 0;
}

.portfolioPieces i:hover,
.portfolioPieces i:focus {
  color: var(--header-font-colour);
}

/* Portfolio Pages Styling */

.portfolioPages {
  min-height: 100vh;
}

.portfolioShowcase {
  display: flex;
  justify-content: center;
  padding-top: 80px;
}

.portfolioImage {
  width: 40%;
}

.portfolioImage img {
  width: 100%;
  object-fit: contain;
}

.portfolioInfo {
  width: 50%;
  padding-left: 50px;
  text-align: center;
}

.portfolioInfo > a {
  border: 2px solid var(--header-font-colour);
  text-decoration: none;
  border-radius: 25px;
  background-color: transparent;
  color: var(--header-font-colour);
  padding: 8px 30px;
  font-size: 0.7rem;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  margin: 0 10px;
}

.portfolioInfo a:hover,
.portfolioInfo a:focus {
  color: var(--font-colour);
}

.portfolioInfo h2 {
  margin: 0;
  font-size: 2rem;
  line-height: 2rem;
  font-family: 'Montserrat', sans-serif;
}

h5 {
  color: var(--secondary-font-colour);
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  padding-bottom: 0;
}

.portfolioInfo p {
  font-size: 1rem;
  padding: 0 0 25px 0;
  color: var(--secondary-font-colour);
  line-height: 1.4rem;
  font-family: 'Montserrat', sans-serif;
}

.partnerURL {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: var(--font-colour);
  letter-spacing: 1;
}

.next {
  display: flex;
  justify-content: center;
}

.fa-arrow-circle-right,
.fa-arrow-circle-left {
  color: var(--font-colour);
  font-size: 3rem;
  margin-top: 50px;
  padding: 10px;
}

.fa-arrow-circle-right:hover,
.fa-arrow-circle-right:focus,
.fa-arrow-circle-left:hover,
.fa-arrow-circle-left:focus {
  color: var(--header-font-colour);
} 

.portfolioPagesFooter {
  padding-top: 20px;
}

.portfolioPagesFooter a {
  color: var(--font-colour);
  text-decoration: none;
}

.portfolioPagesFooter a:hover,
.portfolioPagesFooter a:focus {
  color: var(--header-font-colour);
} 

/* Section 5 styles: Footer */

footer {
  background-color: var(--secondary-bg-colour);
  color: var(--font-colour);
}

.contact h2 {
  margin-top: 0;
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
  padding: 50px 0 30px 0;
  color: var(--header-font-colour);
}

.footerName {
  margin-top: 0;
  font-family: 'Playfair Display', serif;
  font-size: 1.6rem;
  font-weight: bold;
}

.namePlusInfo  {
  color: var(--secondary-font-colour);
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

.namePlusInfo p:first-of-type {
  color: var(--font-colour);
}

.namePlusInfo a {
  text-decoration: none;
  font-size: 1rem;
  color: var(--header-font-colour);
}

.namePlusInfo a:hover,
.namePlusInfo a:focus {
  color: var(--secondary-font-colour);
}

.contactInfo {
  color: var(--secondary-font-colour);
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
}

.contactSection {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 30px;
}

.namePlusInfo {
  width: 33%;
}

.socialLinks {
  padding-right: 5%;
}

.socialLinks a {
  width: 33%;
  text-decoration: none;
}

.socialLinks li {
  list-style: none;
}


.socialLinks i {
  display: block;
  color: var(--header-font-colour);
  padding-top: 15px;
  font-size: 1.6rem;
}

.socialLinks i:hover,
.socialLinks i:focus {
  color: var(--font-colour);
}

.form {
  width: 33%;
}

form {
    width: 100%;
}

input {
    height: 10px;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    width: 100%;
    color: var(--bg-colour);
    border: 2px solid var(--header-font-colour);
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
}

textarea {
    width: 100%;
    resize: none;
    border: none;
    padding: 10px 10px;
    letter-spacing: 1px;
    border: 2px solid var(--header-font-colour);
    font-family: 'Montserrat', sans-serif;
}

button {
    width: 100%;
    margin: 10px 0 0px 0;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px solid var(--header-font-colour);
    letter-spacing: 1px;
    font-size: 0.7rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 25px;
    font-family: 'Montserrat', sans-serif;
}

input:hover,
input:focus,
textarea:hover,
textarea:focus,
button:hover,
button:focus {
    background-color: var(--secondary-font-colour);
    color: var(--bg-colour);
    font-weight: bold;
    border: 2px solid var(--font-colour);
}

.copyright {
  margin-bottom: 0;
  text-align: center;
  padding-bottom: 25px;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  margin-top: 0;
}

/* Responsive */

/* Extra breakpoint for the box shadow effect on my photo image */
@media (max-width:1110px) {
  /* .myPhoto::before {
    display: none;
} */

}

@media (max-width: 998px) {
  /* .myPhoto::before {
    height: calc(100% - 140px);
  } */
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  /* .myPhoto::before {
    height: calc(100% - 140px);
  } */


  .portfolioShowcase {
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    padding-top: 0;
  }

  .portfolioImage {
    width: 70%;
    margin-bottom: 20px;
  }

  .portfolioInfo {
    width: 100%;
    text-align: center;
    padding-left: 0;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 840px) {
  header h1,
  header h2 {
    text-align: center;
  }

  header h1 {
    line-height: 3rem;
  }

  a.resumeDownload {
    display: flex;
    justify-content: center;
  }

  /* .myPhoto::before {
  content: '';
  background-color: transparent;
  border: 3px solid rebeccapurple;
  display: block;
  position: absolute;
  top: -20px;
  left: -20px;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
} */

  .flexContainer1 {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .myPhoto {
    width: 80%;
  }

  .myText {
    width: 70%;
    text-align: center;
    padding-left: 0;
  }

  .skillsList li {
    display: block;
    font-size: 3rem;
    padding-left: 0;
  }

  .skillsList ul {
    padding-left: 0;
  }

  .portfolioPieces {
    flex-direction: column;
  }

  .contactSection {
    flex-direction: column;
    align-items: center;
  }

  .namePlusInfo {
    width: 100%;
    text-align: center;
  }

  .socialLinks {
    padding-right: 0;
  }

  .socialLinks li {
    display: inline-block;
    letter-spacing: 2rem;
    text-align: center;
    padding: 0;
  }
  
  .socialLinks a {
    text-align: center;
  }  

  .form {
    width: 100%;
    margin-top: 20px;
  }

  .headerNav {
    display: none;
  }

  .fa-bars {
    visibility: visible;
    position: fixed;
    z-index: 10;
  }

  .headerNav2 {
    width: 30%;
    position: fixed;
    z-index: 5;
    right: 0;
  }
  
  .headerNav2 li {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

}

/* Landscape phones and down */
@media (max-width: 480px) {
  .form {
    display: none;
  }

}

